.App {
  text-align: center;
  padding:30px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-header h2{
  margin-bottom: 70px;
}
 /* ABOUT */
.my-picture{
  height:300px;
  width:300px;
  padding:20px;
}

p{
  text-align: left;
  padding:10px;
  margin:10px;
}

 /* NAV BAR */
.nav-link{
  width:29%;
  margin:10px;
  float:left;
  align-content: center;
}

.nav-link a{
  text-decoration: none;
  color: white;
  font-weight:bold;
}

.nav-link a:focus{
  text-decoration: underline;
}

.nav-link a:hover{
  text-decoration: underline;
}

 /* CONTACT */
 .icons{
   padding:10px;
 }




