.App {
  text-align: center;
  padding:30px;
}

.App-header h2{
  margin-bottom: 70px;
}

 /* ABOUT */

 .about{
   padding:50px
 }

.my-picture{
  height:300px;
  width:300px;
  padding:20px;
  margin:40px;
}

p{
  text-align: left;
  padding:10px;
  margin:10px;
}

 /* NAV BAR */

.nav-bar{
  border-bottom: 3px solid white;
}

.nav-link{
  width:22%;
  margin:10px;
  float:left;
  align-content: center;
}

.nav-link a{
  text-decoration: none;
  color: black;
  font-weight:bold;
}

.nav-link a:focus{
  text-decoration: underline;
}

.nav-link a:hover{
  text-decoration: underline;
}

 /* CONTACT */
 .icons{
   padding:50px;
 }

 .icons SocialIcon{
   padding:20px;
 }

/* RESUME */
.resume{
  padding:50px;
}
